.App {
  overflow: hidden;
}


.App-layout {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth-layouth {

}

.web-header {
  width: 100%;
  height: 95px;
  background: white;
}