@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf"), local("Montserrat-Regular");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf"), local("Montserrat-Bold");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/RobotoMono/static/RobotoMono-Medium.ttf"), local("Roboto Mono");
}

.App {
  overflow: hidden;
}

.App-layout {
  background: url("./assets/bg-app.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.auth-layouth {
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
}

.header {
  width:100%;
  background: #FFFFFF;
  position: fixed;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(188, 188, 188, 0.25);
  z-index: 5;

}
.web-header {
  width: 1240px;
  height: 95px;
  background: white;
  /*padding: 0 140px;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*position: fixed;*/
  /*right: 0;*/
  /*left: 0;*/
  z-index: 5;
  box-shadow: 0px 4px 4px 0px rgba(188, 188, 188, 0.25);

}
.logo {
  cursor: pointer;
}
.logo:hover {
  animation: wiggle 3s linear infinite;
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-12deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.web-header-group-items {
  display: flex;
  align-items: center;
  gap: 57px
}
.navbar {
  display: flex;
  align-items: center;
  gap: 24px;
  transition: overflow 0.3s ease;
  /*opacity: 1;*/
}
.hide-nav {
  transition: overflow 0.3s ease;
  width: 0;
  overflow: hidden;
}
.navbar-item {
  color: #949494;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  white-space: nowrap;
}
.navbar-item:hover {
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.login {
  display: flex;
  align-items: center;
  gap: 23px
}
.navbar-item-market_nft {
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}
.navbar-item-market_nft:hover {
  background: linear-gradient(30deg, #B21815 18.3%, #B21815 39.43%, #B21815 60.57%, #B21815 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-group-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: width 0.5s ease;
  width: 120px;
  overflow: hidden;
}

.social-item {
  cursor: pointer;
  transition: fill 0.3s ease;
}

.social-item:hover{
  filter: sepia(84%) saturate(9105%) hue-rotate(351deg) brightness(89%) contrast(63%);
}
.social-item-footer {
  cursor: pointer;
  transition: fill 0.3s ease;
}

.social-item-footer:hover{
  filter: sepia(84%) saturate(9105%) hue-rotate(351deg) brightness(89%) contrast(63%);
}
.folow-item {
  cursor: pointer;
  transition: fill 0.3s ease;
}

.folow-item:hover{
  filter: sepia(84%) saturate(9105%) hue-rotate(351deg) brightness(89%) contrast(63%);
}

.open {
  width: 400px;
}
.social-group-logo-img{
  height: 19px;
  cursor: pointer;
}
.login-button {
  display: flex;
  padding: 18px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  border: 1px solid #949494;
  background: #FFF;
  color:  #949494;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.175px;
  cursor: pointer;
  transition: 0.4s ease;
}
.login-button:hover {
  border: 1px solid #B21815;
  background: #B21815;
  color: #FFF;
}

.digital-art {
  display: flex;
  flex-direction: column;
  width: 1240px;
  padding: 0 140px;
  margin-top: 161px;
  gap: 35px;
}
.header-side {
  color: #353535;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 114.5%; /* 73.28px */
  z-index: 1;
}
.bottom-side {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*gap: 107px*/
}
.bottom-side-left {
  display: flex;
  flex-direction: column;
  gap: 63px
}
.bottom-side-left-header {
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bottom-side-left-header_buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}
.left-button {
  display: flex;
  min-width: 100px;
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  color: #FFF;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
  cursor: pointer;
  transition: 0.4s ease;
}
.left-button:hover {
  background: linear-gradient(30deg, #DA291C 18.3%, #B4001E 39.43%, #930210 60.57%, #75030B 81.7%);

}
.right-button {
  display: flex;
  min-width: 100px;
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
  border: 1px solid #75030B;
  background: #FFF;
  color: #B21815;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
  cursor: pointer;
  transition: 0.4s ease;

}
.right-button:hover {
  background: #B21815;
  color: #FFF;
}
.datetime-container {
  display: flex;
  flex-direction: row;
  gap: 21px;
}
.datetime-content {
  width: 170px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #FFF;
  background: linear-gradient(180deg, #F2F2F2 0%, #CCC 100%);
  box-shadow: 0 4px 13.9px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.datetime-text {
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.datetime-number {
  font-family: "Roboto Mono";
  font-size: 104px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-component {
  display: flex;
  width: 1240px;
  margin-top: 250px;
  align-items: center;
  justify-content: space-between;
  gap: 59px
}
.reverse {
  flex-direction: row-reverse;
}
.left-side {
  width: 100%;
}
.left-side {
 z-index: 555555555555555555555555555;
}
.right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.title-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: max-content;
  z-index: 1;
}
.title-group_line-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px
}
.d-none {
  display: none;
}
.line-width {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(195, 16, 29, 0.00) 0%, #75030B 100%);
}

.title {
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 22.9px */
  text-transform: uppercase;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content {
  width: 447px;
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3.5%;
  margin-bottom: 4.3%;
  z-index: 1;
}
.main-component-button {
  width: 61%;
  display: flex;
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
  cursor: pointer;
  transition: 0.4s ease;
}
.main-component-button_width {
  width: 120px;
}
.main-component-button:hover {
  background: linear-gradient(30deg, #DA291C 18.3%, #B4001E 39.43%, #930210 60.57%, #75030B 81.7%);
}

.input-group {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 60%;
}
.input {
  display: flex;
  width: 100%;
  padding: 17px 69px 17px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: unset;
  background: #FFF;
  box-shadow: 0px 4px 13.4px 0px rgba(0, 0, 0, 0.13);
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
}
.input:focus-visible {
  outline: none;
}

/*.security {*/
/*  display: flex;*/
/*  !*align-items: center;*!*/
/*  gap: 25px;*/
/*}*/

.security-item {
  width: 291px;
  height: 266px;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 2.4px rgba(0, 0, 0, 0.13));
  background: url("./assets/bg-mask-group.png") lightgray 50% / cover no-repeat;
  /*background: #D9D9D9;*/
  padding: 0 31px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  cursor: pointer;
}

.security-item-content {
  width: 100%;
  max-width: 236px;
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.security-item-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.security-item-title img {
  width: 56px;
  height: 64px;
  flex-shrink: 0;
}
.security-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
  gap: 25px;
}
.security-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  gap: 48px;
  /*background: #FFFFFF;*/
}

.security-component-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px
}
.line_1 {
  width: 80px;
  height: 1px;
  background: linear-gradient(90deg, rgba(195, 16, 29, 0.00) 0%, #75030B 100%);
}

.security-component-title {
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 22.9px */
  text-transform: uppercase;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.roadmap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 41px;
  /*background: #FFFFFF;*/
}
/*.roadmap img {*/
/*  width: calc(100% - 2px);*/
/*}*/
.social-group-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 140px;
  max-width: 891px;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 139px;
  width: 1240px;
}
.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid #DFDFDF;
}
.footer-top-left {
  display: flex;
  flex-direction: column;
  gap: 28px;

}
.footer-top-left-text {
  max-width: 172px;
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 16.03px */
  text-transform: uppercase;
}
.footer-top-right {
  display: flex;
  gap: 87px;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-footer-item {
  color: #949494;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.nav-footer-item:hover {
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-bottom {
  display: flex;
  padding-top: 28px;
  padding-bottom: 103px;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.footer-bottom-left-item {
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 18.32px */
  text-transform: uppercase;
}
.footer-bottom-right-group {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 162px;
  overflow: hidden;
  transition: width 0.5s ease;
}
.footer-bottom-right img {
  cursor: pointer;
}
.open-icons-group {
  width: 427px
}
.bg-image {
  position: absolute;
  /*z-index: 0;*/
  top: 135px;
  right: 0;
}
/*Mobile Header*/

:where(.css-dev-only-do-not-override-1okl62o).ant-drawer-right>.ant-drawer-content-wrapper {
  top: 74px;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-drawer .ant-drawer-header {
  display: none;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-drawer .ant-drawer-mask {
  top: 95px;
}
.drower-content-navbar {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid #DFDFDF;;
  height: calc(100% - 95px);
}
.drower-content-profile {
  align-items: flex-start;
  cursor: pointer;
}
.drower-content-navbar-item {
  color: #949494;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.drower-content-navbar-nft {
  margin-top: 16px;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.drower-content-navbar-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27%;
  padding: 0 200px;
  height: 84px;
  gap: 24px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.mobile-header {
  max-width: 770px;
  width: 100%;
  height: 76px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(188, 188, 188, 0.25);
  padding: 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5000;
}
.login-burger-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
 }

.line{
  width: 24px;
  height: 2px;
  background: #949494;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.is-active{
  cursor: pointer;
}
#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

.mobile-login-button {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  border: 1px solid #949494;
  background: #FFF;
  color: #949494;
  font-family: Montserrat-Regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 13.74px */
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .bottom-side {
    display: block;
  }
  .digital-art {
    width: auto;
  }
  .datetime-container {
    margin-top: 56px
  }
  .web-header {
    display: none;
  }
  .main-component {
    display: block;
    width: auto;
    margin-top: 200px;
  }
  .bg-image {
    top: 5px;
    right: 0;
  }
  .footer {
    width: 770px;
  }
  .security-component {
    width: 100%;
  }
  .security-item {
    width: 180px;
    height: 233px;
  }
  .security-group {
     justify-content: center;
    width: 970px;
    gap: 18px;
  }
  .security-item-title img {
    width: 64px;
  }
  .roadmap img{
    width: 1239px;
  }
}

@media screen and (min-width: 1300px) {
  .mobile-header {
    display: none;
  }
}