@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf"), local("Montserrat-Regular");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf"), local("Montserrat-Bold");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/RobotoMono/static/RobotoMono-Medium.ttf"), local("Roboto Mono");
}

.App {
  overflow: hidden;
}

.App-layout {
  background: url("./assets/bg-app.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.auth-layouth {
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  align-items: center;
}

.header {
  width:100%;
  background: #FFFFFF;
  position: fixed;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(188, 188, 188, 0.25);
  z-index: 500000;

}
.web-header {
  width: 1240px;
  height: 95px;
  background: white;
  /*padding: 0 140px;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*position: fixed;*/
  /*right: 0;*/
  /*left: 0;*/
  z-index: 5;
  /*box-shadow: 0px 4px 4px 0px rgba(188, 188, 188, 0.25);*/

}
.logo {
  cursor: pointer;
}
.logo:hover {
  animation: wiggle 3s linear infinite;
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateY(0);
  }
  15% {
    transform: rotateY(-12deg);
  }
  20% {
    transform: rotateY(10deg);
  }
  25% {
    transform: rotateY(-10deg);
  }
  30% {
    transform: rotateY(6deg);
  }
  35% {
    transform: rotateY(-4deg);
  }
  40%, 100% {
    transform: rotateY(5deg);
  }
}
.web-header-group-items {
  display: flex;
  align-items: center;
  gap: 57px
}
.navbar {
  display: flex;
  align-items: center;
  gap: 24px;
  transition: overflow 0.3s ease;
  /*opacity: 1;*/
}
.hide-nav {
  transition: overflow 0.3s ease;
  width: 0;
  overflow: hidden;
}
.navbar-item {
  background: linear-gradient(to right, #949494 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 800% 100%;
  background-position: left center;
  transition: background 0.3s linear;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  white-space: nowrap;
}
.navbar-item:hover {
  background-position: 100% center;
}
.login {
  display: flex;
  align-items: center;
  gap: 23px
}
.navbar-item-market_nft {
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 50%;
  background-position: left center;
  transition: background 0.3s linear;
  font-family: Montserrat-Bold;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  white-space: nowrap;
}
.navbar-item-market_nft:hover {
  background-position: 100% center;
}
.social-group-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: width 0.5s ease;
  width: 120px;
  overflow: hidden;
}

.social-item svg {
  cursor: pointer;
  transition: fill 0.4s ease;
}

.social-item svg:hover{
  fill: #B4001E;
}
.folow-item svg {
  cursor: pointer;
  transition: 0.3s ease;
}

.folow-item svg:hover{
  fill: #B4001E;
  transform: scale(1.2);
}

.open {
  width: 400px;
}
.social-group-logo-img{
  height: 19px;
  cursor: pointer;
}
.login-button {
  display: flex;
  padding: 18px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  border: 1px solid #949494;
  background: #FFF;
  color:  #949494;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.175px;
  cursor: pointer;
  transition: 0.4s ease;
}
.login-button:hover {
  border: 1px solid #B21815;
  background: #B21815;
  color: #FFF;
}

.digital-art {
  display: flex;
  flex-direction: column;
  width: 1240px;
  margin-top: 161px;
  gap: 35px;
}
.header-side {
  color: #353535;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Bold;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 114.5%; /* 73.28px */
  z-index: 1;
}
.bottom-side {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*gap: 107px*/
}
.bottom-side-left {
  display: flex;
  flex-direction: column;
  gap: 63px
}
.bottom-side-left-header {
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bottom-side-left-header_buttons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
}
.left-button {
  display: flex;
  /*min-width: 100px;*/
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
  color: #FFF;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
  cursor: pointer;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  /*-webkit-text-fill-color: transparent;*/
  background-size: 400% 100%;
  background-position: 75% center;
  transition: background 0.3s linear;
}
.left-button:hover {
  background-position: 100% center;
}



.right-button {
  display: flex;
  min-width: 100px;
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 500px;
  border: 1px solid #75030B;
  background: #FFF;
  color: #B21815;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
  cursor: pointer;
  transition: 0.4s ease;

}
.right-button:hover {
  background: #B21815;
  color: #FFF;
}
.datetime-container {
  display: flex;
  flex-direction: row;
  gap: 21px;
}
.datetime-content {
  width: 170px;
  height: 170px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid #FFF;
  background: linear-gradient(180deg, #F2F2F2 0%, #CCC 100%);
  box-shadow: 0 4px 13.9px 0 rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.datetime-text {
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.datetime-number {
  font-family: "Roboto Mono";
  font-size: 104px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-component {
  display: flex;
  width: 1240px;
  margin-top: 250px;
  align-items: center;
  justify-content: space-between;
  gap: 59px
}
.reverse {
  flex-direction: row-reverse;
  gap: 82px
}
.left-side {
  width: 100%;
  z-index: 555;
}
.right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.title-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: max-content;
  z-index: 1;
}
.title-group_line-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px
}
.d-none {
  display: none;
}
.line-width {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(195, 16, 29, 0.00) 0%, #75030B 100%);
}

.title {
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 22.9px */
  text-transform: uppercase;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subtitle {
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Bold;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content {
  width: 447px;
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3.5%;
  margin-bottom: 4.3%;
  z-index: 1;
}
.main-component-button {
  width: 61%;
  display: flex;
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;

  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
  cursor: pointer;


  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  /*-webkit-text-fill-color: transparent;*/
  background-size: 400% 100%;
  background-position: 75% center;
  transition: background 0.3s linear;
}

.security-component-button {
  display: flex;
  width: 130px;
  padding: 24px 44px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  color: #FFF;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
  cursor: pointer;

  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  /*-webkit-text-fill-color: transparent;*/
  background-size: 400% 100%;
  background-position: 75% center;
  transition: background 0.3s linear;
}
.security-component-button:hover {
  background-position: 100% center;
}
.main-component-button_width {
  width: 120px;
}
.main-component-button:hover {
  background-position: 100% center;
}

.input-group {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 60%;
}
.input {
  display: flex;
  width: 100%;
  padding: 17px 69px 17px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: unset;
  background: #FFF;
  box-shadow: 0px 4px 13.4px 0px rgba(0, 0, 0, 0.13);
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 17.175px */
}
.input:focus-visible {
  outline: none;
}

/*.security {*/
/*  display: flex;*/
/*  !*align-items: center;*!*/
/*  gap: 25px;*/
/*}*/

.security-item {
  width: 291px;
  height: 266px;
  position: relative;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 2.4px rgba(0, 0, 0, 0.13));
  background: url("./assets/bg-mask-group.png") lightgray 50% / cover no-repeat;
  padding: 0 31px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  cursor: pointer;
  transform: perspective(300px) rotateX(0deg) rotateY(0deg);
  transition: .2s;
}
.new-class {
  perspective: 4800px; 
  rotateX: 20deg;
  rotateY: 15deg 
}
/* .security-item:hover{
  transform:  rotateX(20deg) rotateY(15deg)
} */

.security-item-content {
  width: 100%;
  max-width: 236px;
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.security-item-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  /*leading-trim: both;*/
  /*text-edge: cap;*/
  font-family: Montserrat-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.security-item-title img {
  width: 56px;
  height: 64px;
}
.security-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
  gap: 25px;
}
.security-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  gap: 48px;
  /*background: #FFFFFF;*/
}
.social-big-logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
  gap: 48px;
  /*background: #FFFFFF;*/
}
.security-component-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px
}
.line_1 {
  width: 80px;
  height: 1px;
  background: linear-gradient(90deg, rgba(195, 16, 29, 0.00) 0%, #75030B 100%);
}

.security-component-title {
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 22.9px */
  text-transform: uppercase;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.roadmap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 41px;
  /*background: #FFFFFF;*/
}
/*.roadmap img {*/
/*  width: calc(100% - 2px);*/
/*}*/
.social-group-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 140px;
  max-width: 891px;
  width: 100%;
  gap: 50px;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 139px;
  width: 1240px;
}
.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid #DFDFDF;
}
.footer-top-left {
  display: flex;
  flex-direction: column;
  gap: 28px;

}
.footer-top-left-text {
  max-width: 172px;
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 16.03px */
  text-transform: uppercase;
}
.footer-top-right {
  display: flex;
  gap: 87px;
}
.nav-footer {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  gap: 20px 87px;
  justify-content: space-between;
}

.nav-footer-item {
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  background: linear-gradient(to right, #949494 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 800% 100%;
  background-position: left center;
  transition: background 0.3s linear;
  white-space: nowrap;
}
.nav-footer-item:hover {
  background-position: 100% center;
}

.footer-bottom {
  display: flex;
  padding-top: 28px;
  padding-bottom: 103px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.footer-bottom-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.footer-bottom-left-mobile {
  margin-top: 60px;
 }
.footer-bottom-left-item {
  color: #949494;
  leading-trim: both;
  text-edge: cap;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 18.32px */
  text-transform: uppercase;
}
.footer-bottom-right-group {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-bottom-right-group-mob {
  position: absolute;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* width: 29%; */
  /* padding: 0 200px; */
  gap: 24px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  /*background: green;*/
  width: 100%;
}

.footer-bottom-right {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 162px;
  overflow: hidden;
  transition: width 0.5s ease;
}
.footer-bottom-right img {
  cursor: pointer;
}
.open-icons-group {
  width: 427px
}
.bg-image {
  position: absolute;
  /*z-index: 0;*/
  top: 135px;
  right: 0;
}
/*Mobile Header*/

:where(.css-dev-only-do-not-override-1okl62o).ant-drawer-right>.ant-drawer-content-wrapper {
  top: 74px;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-drawer .ant-drawer-header {
  display: none;
}
/*:where(.css-dev-only-do-not-override-1okl62o).ant-drawer .ant-drawer-mask {*/
/*  top: 95px;*/
/*}*/
.drower-content-navbar {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid #DFDFDF;;
  height: calc(100% - 95px);
  overflow: scroll;
}
.drower-content-profile {
  align-items: flex-start;
  cursor: pointer;
}
.drower-content-navbar-item {
  color: #949494;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.drower-content-navbar-nft {
  margin-top: 16px;
  font-family: Montserrat-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(30deg, #75030B 18.3%, #930210 39.43%, #B4001E 60.57%, #DA291C 81.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.drower-content-navbar-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27%;
  padding: 0 200px;
  height: 84px;
  gap: 24px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.mobile-header {
  max-width: 770px;
  width: 100%;
  height: 76px;
  background: #FFF;
  /*box-shadow: 0px 4px 4px 0px rgba(188, 188, 188, 0.25);*/
  padding: 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5000;
}
.login-burger-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
 }

.line{
  width: 24px;
  height: 2px;
  background: #949494;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.is-active{
  cursor: pointer;
}
#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  -o-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

.mobile-login-button {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  border: 1px solid #949494;
  background: #FFF;
  color: #949494;
  font-family: Montserrat-Regular;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.5%; /* 13.74px */
  cursor: pointer;
}
.mobile-login-button:hover {
  border: 1px solid #B21815;
  background: #B21815;
  color: #FFF;
}

@media screen and (max-width: 1300px) {
  .bottom-side {
    display: block;
  }
  .digital-art {
    width: auto;
  }
  .datetime-container {
    margin-top: 56px
  }
  .web-header {
    display: none;
  }
  .main-component {
    display: block;
    width: auto;
    margin-top: 200px;
  }
  .bg-image {
    top: 5px;
    right: 0;
  }
  .footer {
    width: 770px;
  }
  .security-component {
    width: 100%;
  }
  .security-item {
    width: 180px;
    height: 233px;
  }
  .security-group {
    justify-content: center;
    width: 970px;
    gap: 18px;
  }
  .security-item-title img {
    width: 64px;
  }
  .roadmap-web{
    width: 970px;
  }
}

@media screen and (min-width: 1300px) {
  .mobile-header {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .bg-image-web {
    display: none;
  }
}
@media screen and (min-width: 1023px) {
  .bg-image-mobile {
    display: none;
  }
  .left-side-image-mob {
    display: none;
  }
  .roadmap-mob {
      display: none;
  }
  .footer-logo-mob{
    display: none;
  }
  .footer-bottom-right-group-mob {
    display: none;
  }
}
@media screen and (max-height: 480px) {
  .drower-content-navbar {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    border-bottom: 1px solid #DFDFDF;;
    height: calc(100% - 95px);
    overflow: scroll;
  }
  .drower-content-navbar-nft {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 1023px) {
  .header-side {
    font-size: 32px;
    font-weight: 300;
    line-height: 114.5%;
  }
  .bottom-side-left {
    position: relative;
  }
  .bottom-side-left-header {
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
  }
  .left-button {
    padding: 20px 42px;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; /* 16.03px */
  }
  .right-button {
    padding: 20px 42px;
    gap: 10px;
    flex-shrink: 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%;
  }
  .bottom-side-left-header_buttons {
    margin-top: 180px;
    position: absolute;
    gap: 10px;
  }
  .datetime-container {
    margin-top: 28px
  }
  .digital-art {
    gap: 32px
  }
  .datetime-container {
    display: flex;
    padding-bottom: 19px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  .datetime-content {
    width: 80px;
    height: 80px;
  }
  .datetime-number {
    font-size: 44px;
  }
  .datetime-text {
    font-size: 8px;
  }
  .digital-art {
    margin-top: 410px;
  }
  .left-side-image-web {
    display: none;
  }
  .left-side {
    text-align: center;
  }
  .title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; /* 16.03px */
    text-transform: uppercase;
  }
  .subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .content {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 350px;

  }
  .main-component-button {
    margin-top: 35px;
    padding: 20px 42px;
  }
  .right-side {
    align-items: center;
  }
  .title-group {
    gap: 2px;
    margin-left: -210px;
  }
  .input-group {
    align-items: center;
    width: auto;
    margin-bottom: -24px;
  }
  .main-component-button {
    width: 77%;
  }
  .security-component-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; /* 18.32px */
    text-transform: uppercase;
  }
  .folow-item svg {
    width: 75px;
    height: 30px;
  }
  .social-group-component {
    gap: 17px;
    max-width: 415px;
  }
  .social-big-logo-group {
    gap: 33px
  }
  .security-component-header {
    gap: 8px
  }
  .social-big-logo-group {
    margin-top: 73px;
  }
  .main-component {
    margin-top: 120px;
  }
  .roadmap-web {
    display: none;
  }
  .roadmap {
    margin-top: 72px
  }
  .security-component {
    margin-top: 73px;
    gap: 25px
  }
  .security-component-button {
    margin-top: 30px;
  }

  .security-item-title{
    gap: 12px
  }
  .security-item-title img {
    width: 54px;
    height: 64px;
  }
  .security-item-subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .security-item-content {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 291px;
  }
  .security-item {
    gap: 20px;
    width: 291px;
    height: 237px;
    padding: 0px 21px 0 18px
  }

    .security-group {
      gap: 16px;
      /*background: red;*/
      width: 100%;
     margin-left: 22px;
     /*margin-right: 52px;*/
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      scroll-behavior: smooth;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  .footer-logo-web{
    display: none;
  }
  .footer-top-left {
    gap: 16px
  }
  .footer-top-left-text {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; /* 13.74px */
    text-transform: uppercase;
  }
  .footer-top {
    display: block;
    padding-bottom: 32px;
  }
  .logo:hover {
    animation: 3s linear infinite;
  }
  .footer-top-right {
    margin-top: 48px;
    gap: 24px;
  }
  .nav-footer {
    display: flex;
    width: 350px;
    gap: 12px 32px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 32px;
    align-items: flex-start;
    /*justify-content: flex-end;*/
    gap: 24px;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer-bottom-left-item {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 114.5%; /* 13.74px */
  }
  .footer {
    width: auto;
    margin-top: 70px;
  }
  .mobile-header {
    width: 370px;
  }
  .footer-bottom-right-group {
    display: none;
  }
}